$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

$colors: (
    accent: lighten(#7f171f, 10),
    bg: #333,
    txt: #fff,
);

//Fonts
$font-base: 'Raleway', sans-serif;
$font-heading: 'Dancing Script', cursive;

// Styling
$rounded: 10px; // Uniform border radius value
$header-footer-size: 150px;
$app-size: calc(100vh - (150px * 2));
