$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

$colors: (
    accent: #bada55,
    bg: #333,
    txt: #fff,
);

//Fonts
$font-base: 'Raleway', sans-serif;
$font-heading: 'Ubuntu Mono', monospace;
