/* Vendor */
@import url("https://fonts.googleapis.com/css?family=Raleway|Ubuntu+Mono&display=swap");
/* Base */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #333;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Ubuntu Mono", monospace;
  color: #bada55;
}

h2 {
  font-family: "Ubuntu Mono", monospace;
  color: #bada55;
}

h3 {
  font-family: "Ubuntu Mono", monospace;
  color: #bada55;
}

h4 {
  font-family: "Ubuntu Mono", monospace;
  color: #bada55;
}

h5 {
  font-family: "Ubuntu Mono", monospace;
  color: #bada55;
}

h6 {
  font-family: "Ubuntu Mono", monospace;
  color: #bada55;
}

/* Layout */
.middle {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.center, .social {
  text-align: center;
}

header {
  height: 150px;
  line-height: 70px;
  border-bottom: #bada55 solid 8px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  border-top: #bada55 solid 8px;
}

/* Components */
#app {
  border: 5px solid #fff;
  border-radius: 10px;
  max-height: 1000px;
  width: 500px;
  margin: auto;
}

#answer-field {
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  letter-spacing: 5px;
  margin: 0 auto;
  text-transform: capitalize;
}

#answer-pic {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}

.row-custom {
  margin-top: 20px;
}

.col-custom {
  border: 1px solid #fff;
  min-height: 450px;
  max-height: 930px;
}

#current {
  display: block;
}

#current li {
  position: relative;
  list-style: none;
  display: inline;
  margin: 0 2px;
  text-transform: uppercase;
}

#used-letters-field {
  text-transform: uppercase;
}

.social {
  margin: 10px auto;
  width: 100%;
}

.social-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #bada55;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 30px;
  margin: 0 5px;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.social-link:hover i {
  text-shadow: black 3px 3px 3px;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}
