#app {
    border: 5px solid color(txt);
    border-radius: $rounded;
    max-height: $app-size;
    width: $app-size * 0.5;
    margin: auto;
}

#answer {
    &-field {
        $size: 50px;

        height: $size;
        line-height: $size;
        font-size: $size * 0.5;
        letter-spacing: 5px;
        margin: 0 auto;
        text-transform: capitalize;
    }

    &-pic {
        max-width: 100%;
        border-radius: $rounded;
        margin-top: 20px;
    }
}

.row-custom {
    margin-top: 20px;
}
.col-custom {
    border: 1px solid color(txt);
    min-height: 450px;
    max-height: 930px;
}

#current {
    display: block;

    li {
        position: relative;
        list-style: none;
        display: inline;
        margin: 0 2px;
        text-transform: uppercase;
    }
}

#used-letters-field {
    text-transform: uppercase;
}
