.middle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.center {
    text-align: center;
}

.row-custom {
    margin-top: 20px;
}
.col-custom {
    border: 1px solid color(txt);
    min-height: 450px;
    max-height: 930px;
}
